.container {
    background-color: #f5f5f5;
    padding-right: 0px;
    padding-left: 0px;
}

.main {
    background-color: rgb(245, 245, 245);
    background-color: #ffffff;
}

.navbar {
    background-color: white;
}

a.nav-link {
    color: black;
}

a.nav-link:hover {
    color: blue;
}

.map-body {
    position: relative;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 40px;
}

.map-body span {
    position: absolute;
    top: 90px;
}

.footer-block {
    background-color: black;
    color: white;
    margin-top: 20px;
}

.row-block {
    display: flex;
    flex-direction: row;
}

div.words-list {
    display: flex;
    flex-direction: row;
}

.d-flex {
    background-color: black;
}

.footer-copyright.text-center.py-3 {
    margin-top: 50px;
}

.contact-email {
    margin-top: 66px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduce {
    width: 400px;
}

.form-group.col-12.col-sm-12.col-md-12.col-lg-12.title_form.f-title {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group.col-12.col-sm-12.col-md-12.col-lg-12.text_form.f-text_area {
    padding-left: 0px;
    padding-right: 0px;
}