    body {
        padding: 0px;
        margin: 0px;
    }
    
    .main-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(219, 219, 219);
    }
    
    .header {
        background-color: rgb(42, 43, 43);
        height: 80px;
        display: flex;
        justify-content: left;
        padding-left: 35px;
        align-items: center;
        color: white;
        font-size: 16px;
    }
    
    .logo {
        width: 30px;
        height: 30px;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: row;
    }
    
    .nav-item {
        padding-left: 20px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .wrap {
        display: flex;
        flex-direction: row;
    }
    
    .main-container-wrap {
        display: flex;
        flex-direction: column;
        padding-block-start: 15px;
        flex-direction: column;
        margin-right: 50px;
        padding-left: 35px;
        padding-right: 10px;
    }
    
    .container-header-wrap {
        display: flex;
        flex-direction: row;
        padding-right: 15px;
    }
    
    .photo {
        width: 270px;
        height: 300px;
    }
    
    .container-info {
        display: block;
        padding-left: 20px;
    }
    
    h1 {
        font-weight: bolder;
        font-size: 38px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .submit-button {
        margin-left: 0;
        margin: 10px;
        width: 120px;
        height: 40px;
        border: 2px solid red;
        font-size: 18px;
        background-color: white;
        color: red;
    }
    
    .submit-button:hover {
        background-color: red;
        color: white;
        opacity: 1;
    }
    
    .main-container {
        display: flex;
        flex-direction: column;
    }
    
    .main-container-header {
        padding: 20px 10px;
        padding-left: 0;
        color: red;
        font-size: 30px;
        font-weight: 800;
    }
    
    .container-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 30px;
    }
    
    .aside-wrap {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-right: 10px;
        margin-top: 60px;
    }
    
    .aside-nav {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    
    .aside-title {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .pic {
        padding-right: 10px;
    }
    
    .aside-nav div {
        font-size: 20px;
    }
    
    .footer {
        background-color: rgb(42, 43, 43);
        height: 80px;
        display: flex;
        color: white;
        text-align: center;
    }
    /* -----Зірочки------ */
    
    .clearfix:after {
        content: " ";
        display: table;
    }
    
    .clearfix:after {
        clear: both;
    }
    
    .rating {
        position: relative;
        width: 45px;
        height: 14px;
        margin: 10px 0;
        list-style: none;
        background: url(../img/rating-star.png);
    }
    
    .rating li {
        float: left;
        height: 14px;
    }
    
    .rating li.current {
        z-index: 1;
        background: url(../img/rating-star.png) left bottom;
    }
    
    .rating li span[class*="star"] {
        position: absolute;
        z-index: 5;
        display: block;
        width: 17px;
        height: 14px;
        cursor: pointer;
    }
    
    .rating li span[class*="star"]:hover {
        left: 0;
        z-index: 2;
        background: url(../img/rating-star.png) left bottom;
    }
    
    .rating li span.star1 {
        left: 0;
    }
    
    .rating li span.star1:hover {
        width: 17px;
    }
    
    .rating li span.star2 {
        left: 17px;
    }
    
    .rating li span.star2:hover {
        width: 34px;
    }
    
    .rating li span.star3 {
        left: 34px;
    }
    
    .rating li span.star3:hover {
        width: 51px;
    }
    
    .rating li span.star4 {
        left: 51px;
    }
    
    .rating li span.star4:hover {
        width: 68px;
    }
    
    .rating li span.star5 {
        left: 68px;
    }
    
    .rating li span.star5:hover {
        width: 85px;
    }